:root {
  --rouge: #b80d48;
  --orange: #f29724;
  --bleu: #2b6a6c;
  --gris: #404040;
}
body{
  background-color: var(--orange);
}

ul {
  list-style-type: none;
}

.corps {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
column-gap: 15px;
row-gap: 15px;
}

#photo{
  grid-area: 1/3/2/4;
  width: 300px;
  justify-self: end;
  background-color: var(--rouge);
  padding: 15px 15px 15px 15px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 7px 1px var(--gris)
}

#paragraphes {
  grid-area: 1/1/2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-shadow: 1px 2px 2px var(--rouge)
}

#formation{
  grid-area: 1/1/2/2;
  background-color: var(--bleu);
  color:var(--orange);
  justify-self: stretch;
  margin: 20px 20px 20px 20px;
  padding: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 7px 1px var(--gris)
}

#exppro{
  grid-area: 2/2/3/3;
  justify-self: stretch;
  background-color: var(--gris);
  color: var(--orange);
  padding: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 7px 1px var(--gris)
}

#competences {
  grid-area: 3/1/4/2;
  background-color: var(--bleu);
  color: var(--orange);
  justify-self: stretch;
  margin: 20px 20px 20px 20px;
  padding: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 7px 1px var(--gris)
}

#loisirs{
  grid-area: 4/2/5/3;
  justify-self: stretch;
  background-color: var(--gris);
  padding: 15px 15px 15px 15px;
  margin: 20px 20px 20px 20px;
  border-radius: 15px 15px 15px 15px;
  color: var(--orange);
  box-shadow: 2px 2px 7px 1px var(--gris);
}

details > summary {
  list-style: none;
}

img{
border-radius: 50%;
width: 90%;
margin-left: 15px;
margin-top: 15px;
}

#citation{
  padding: 10px 50px 10px 50px;
  text-align: center;
  font-size: larger;
}

h1,h2,h3{
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
}

h1,h2{
  font-size: 300%;
  color: var(--gris);
  text-shadow: 1px 2px 2px var(--bleu);
}

h3{
  color: var(--orange);
  font-size: x-large;
}

ul{
  text-align: justify;
}

.click{
  font-size: 70%;
}

a{
  color: var(--orange);
}

footer{
  grid-area: 2/1/3/4;
  text-align: center;
  border: 3px solid var(--bleu);
  box-shadow: 2px 2px 7px 1px var(--gris)
}

p{
  color: var(--gris);
}
#description{
  color: var(--orange);
}

.element{
  font-family: 'Skranji', cursive;
  font-size: larger;
}